.container {
 display: flex;
 justify-content: center;
 flex: 1 1 auto;
}

.calculator-body  {

  display: flex;
  flex-direction: column;


  align-self: center;
 
  gap: 10px;
  background-color: gray;
  padding: 12px;
  height: 600px;
  width: 400px;
}

.display {
  height: 140px;
  /* width: auto; */
  background-color: antiquewhite;
}

.row {
  height: 80px;
/*   width: auto; */
/*   margin: 5px; */
  background-color: aquamarine;
}

